<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center border rounded p-5 bg-info-subtle">
            <h2 style="height: 60px;" class="text-warning">Magic Recipe</h2>
    </div>
    <div class="row text-center">
        <div class="col-lg-12 text-center mb-3">
            <input [(ngModel)]="searchKey"  class="form-control mt-5" type="search" placeholder="Search by name or cuisine" aria-label="Search">
        </div>
        
    </div>
    <div class="d-flex justify-content-center p-5 gap-3 rounded border bg-success-subtle" >
        <label class="" *ngFor="let option of selections">
            
            <p style="cursor: pointer;" class="fw-bold btn btn-warning" (click)="sortRecipes(option)">{{option}}</p>
        </label>
    </div>
    <div class="row p-5">
        <div *ngFor="let recipe of recipes | search : searchKey | paginate: { itemsPerPage: 8, currentPage: p }" class="col-lg-3 p-3 d-flex justify-content-center">
            <div class="card shadow border bg-info-subtle" style="width: 18rem; height: 28rem; cursor: pointer;">
                <img style="width: 18rem;" [src]="recipe.image" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 style="height: 4rem;" class="card-title text-warning text-center">{{recipe.name}}</h5>
                  <p class="card-text text-center text-danger fw-bold">Cuisine: <span>{{recipe.cuisine}}</span></p>
                  <p class="card-text text-center text-info fw-bolder">Meal Type: <span>{{recipe.mealType}}</span></p>
                  
                </div>
              </div>
        </div>
        <div *ngIf="(recipes | search : searchKey).length==0">
            <h4 class="text-center text-danger">Recipe Not Found</h4>
        </div>
        
    </div>
    <div class="text-center mt-5" ><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</div>
